{sub_dirs, ["rel"]}. 
{deps,  [   
           {lager,  "3.9.2", {git, "git://github.com/erlang-lager/lager", {tag, "3.9.2"}}},  
           {proper,  "1.4", {git, "git://github.com/manopapad/proper.git", {tag, "v1.4"}}},
           {fix_convertor, "1.2.4", {git, "git://github.com/MaximMinin/fix_convertor.git", {tag, "1.2.4"}}}   
       ]
}. 
{erl_opts,  [debug_info, 
             {i, "deps/fix_convertor/include/"},
             {parse_transform, lager_transform}
            ]
}. 
{eunit_opts, [verbose, 
               {report,{eunit_surefire,[{dir,"."}]}}
               ]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
  

