{sub_dirs, ["rel"]}. 
{deps,  [   
           {proper,  ".*", {git, "https://github.com/manopapad/proper.git"}},
           {fix_convertor, ".*", {git, "https://github.com/MaximMinin/fix_convertor.git"}},   
           {lager,  ".*", {git, "https://github.com/basho/lager.git"}}  
       ]
}. 
{erl_opts,  [debug_info, 
             {i, "deps/fix_convertor/include/"},
             {parse_transform, lager_transform}
            ]
}. 
{eunit_opts, [verbose, 
               {report,{eunit_surefire,[{dir,"."}]}}
               ]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
  

