{sub_dirs, ["rel"]}. 
{deps,  [   
           {fixUtils, ".*", {git, "git://github.com/MaximMinin/FixUtils.git"}},   
           {lager,  ".*", {git, "git://github.com/basho/lager.git"}}  
       ]
}. 
{erl_opts,  [debug_info, 
             {i, "deps/fixUtils/include/"},
             {parse_transform, lager_transform}
            ]
}. 

